body,
html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
    background-color: brown;
}

.testo-barrato {
    text-decoration: line-through;
}

.testo-normale {
    text-decoration: none;
}

#riga-input {
    width: 100%;
    margin: 0;
    border: 1px solid black;
}

.container {
    background-color: white;
    margin: 40vh 30%;
    border-radius: 5px;
    padding: 2rem;
}

.container input {
    width: 70%;
    padding: 1rem;
    border-radius: 5px;
}

.container button {
    width: 20%;
    background-color: rgb(33, 94, 206);
    border-width: 0;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
}

.container ul {
    padding: 0;
    margin: 0;
}

.container ul div {
    padding: 0;
    margin: 10px 0;
    
    border-radius: 5px;
    height: 3rem;
    background-color: gainsboro;
    border: solid 1px rgb(175, 175, 175);
}

.container ul li {
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    /* border: solid 1px red; */
    margin-left: 10px;

}

/* cestino */
.container ul div i {
    display: inline-block;
    text-align: right;
    background-color: red;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
}

p {
    display: inline-block;
    text-align: right;
    /* border: 1px solid orangered; */
    width: 15%;
    margin: auto 0;
}